/* GENERAL */
:root {
    --main_color: rgb(15, 45, 85);
}

.main_bg_color {
    background-color: var(--main_color);
}
.carousel_bg_image_styling {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#carousel_slide_two {
    background-image: url('../img/pexels-krivec-ales-552784.jpg');
}

.carousel-item > .carousel-caption  [data-carousel-caption-two-span] {
    background-color: rgba(255,255,255, 0.5);
}

.container.bg-light {
    color: #699691;
}
.heading {
    color: #fff;
    letter-spacing: 12px;
    width: 50%;
    border: 12px solid;
    padding:2px 8px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0;
}

.label_required_field::before {
    content: '*';
    font-size: 24px;
    color: red;
}

#contact  form {
    border: 1px solid var(--main_color);
    border-radius: 10px;
    padding: 18px;
}

#contact #accordion .card,
#contact #accordion .card .card-header,
#contact form button {
    border-color: var(--main_color);
}
a.social_icon {
    color: #fff;
}
a.social_icon:hover {
    color: rgb(165, 199, 230);
}